$transition_3: all 0.3s;
$transition_5: all 0.5s;

$color_white: #fff;
$color_black: #000;
$color_yellow: #e3a51e;
$color_gray: #727777;
$color_black_2: #222222;
$color_gray_2: #cccccc;
$color_blue: #828cb1;
$color_orange: #fd7e14;

$text_p: 12px;
$text_p_2: 16px;
$text_input: 13px;
$text_logo: 30px;
$text_h5: 18px;
$text_h3: 28px;
$text_h3_2: 36px;
$text_h3_3: 25px;
$text_email: 15px;
$text_h2: 40px;
$text_h1: 60px;

$f_300: 300;
$f_400: 400;
$f_500: 500;
$f_600: 600;
$f_bold: bold;

$p_0: 0;
$p_all_1: 10px;
$p_vertical_6: 60px 0;
$p_vertical_8: 80px 0;

$m_0: 0;
$m_vertical_1: 10px 0;
$m_vertical_2: 20px 0;
$m_vertical_3: 30px 0;
$m_vertical_5: 50px 0;
$m_vertical_8: 80px 0;