
.service {
    padding: 50px 0;
    background-color: black;
    text-align: center;
  }
  
  .service .service_title p:nth-child(1) {
    color: red;
  }
  
  /* .service .service_title p:nth-child(3) {
    color: blue;
  } */
  
  .service .service_title h2 {
    color: white;
    font-size: 30px;
  }
  
  .service .service_title p:last-child {
    color: gray;
  }
  
  .service .service_content .item_carousel {
    padding: 0 10px;
  }
  
  .service .item_carousel .carousel_bg {
    background-color: white;
    padding: 50px;
    color: gray;
    position: relative;
  }
  
  .service .item_carousel .carousel_bg i {
    font-size: 50px;
  }
  
  .service .item_carousel .carousel_bg p {
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .service .slick-dots li button:before {
    font-size: 15px;
    color: blue;
    opacity: 0.5;
  }
  
  .service .slick-dots li.slick-active button::before {
    color: red;
    opacity: 1;
  }
  
  /* .service .carousel_bg:hover::before {
    height: 100%;
  } */