<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="./../../scss/css/container.css">
</head>

<body>
    <session class="deal">
        <div class="container">
            <div class="deal_content d-block w-100">
                <h3 class="text-center mb-2">Deals of the week</h3>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit ducimus quisquam <br> corporis neque et dolore eveniet ullam molestias? Eligendi, voluptatum.</p>

                <div class="deals_list d-flex">
                    <div class="items_content col-lg-9">
                        <div class="row">
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal2.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal3.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal4.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal5.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal6.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal7.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal8.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="item col-lg-4 d-flex">
                                <img src="../image/deal8.png" alt="">
                                <div class="description">
                                    <a href="#"><span>black lace heels</span></a>
                                    <div class="price d-flex justify-content-between align-items-center">
                                        <div class="discount">500$</div>
                                        <div class="original">550$</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="black_friday_content">
                        <a href="#">
                            <img src="../image/black_friday.png" alt="#">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </session>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>