<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />  

  <!--Open Sans Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">


  <!-- my css -->
  <link rel="stylesheet" href="./../../../view/scss/css/container.css">
</head>

<body>
  <header>
    <div class="container">
        <div class="header_content w-100 d-flex justify-content-between align-items-center px-2">
            <div class="logo mx-4">
                <img src="./../../image/m1coteeh.png" alt="#">
            </div>

            
            <nav class="navbar navbar-expand-lg justify-content-between mx-4">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="d-flex align-items-center list-unstyled" id="navbar">
                    <li><a href="#" class="active"><span>HOME</span></a></li>
                    <li>
                        <a href="#">
                            <span>SHOP</span>
                        </a>
                        <div class="sub_menu col-lg-5">
                            <ul class="list-unstyled">
                                <li class="border-bottom"><a href="#">SHOP CATEGORY</a></li>
                                <li class="border-bottom"><a href="#">PRODUCT DETAILS</a></li>
                                <li class="border-bottom"><a href="#">PRODUCT CHECKOUT</a></li>
                                <li class="border-bottom"><a href="#">SHOPPING CART</a></li>                   
                                <li><a href="#">CONFIRMATION</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <span>BLOGS</span>
                        </a>
                        <div class="sub_menu col-lg-5">
                            <ul class="list-unstyled">
                                <li class="border-bottom"><a href="#">BLOG</a></li>
                                <li><a href="#">BLOG DETAILS</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <span>PAGE</span>
                        </a>
                        <div class="sub_menu col-lg-5">
                            <ul class="list-unstyled">
                                <li class="border-bottom"><a href="#">LOGIN</a></li>
                                <li class="border-bottom"><a href="#">TRACKING</a></li>
                                <li><a href="#">ELEMENT</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><span>CONTACT</span></a></li>
                </ul>
                <div class="col-lg-2 d-flex side">
                    <a href="#" class="mx-1"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" class="mx-1"><i class="fa fa-search"></i></a>
                </div>
            </nav>
        </div>
    </div>
  </header>
  <!-- star session -->
  <section class="bg-light">
    <div class="container pb-5" id="bodyDetail">
        
    </div>
 </section>
  <!-- end session -->

  <section>
    <div class="container">
      <div class="row text-center p-2 pb-3">
        <h4>Related Product</h4>
      </div>

      <div>
        <div class="p-2 pb-3">
          <div class="product-wap card rounded-0">
              <div class="card rounded-0">
                  <img class="card-img rounded-0 img-fluid" src="assets/img/shop_08.jpg">
                  <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                      <ul class="list-unstyled">
                          <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                          <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                          <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-body">
                  <a href="shop-single.html" class="h3 text-decoration-none">Red Clothing</a>
                  <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                      <li>M/L/X/XL</li>
                      <li class="pt-2">
                          <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                      </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-center mb-1">
                      <li>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-muted fa fa-star"></i>
                      </li>
                  </ul>
                  <p class="text-center mb-0">$20.00</p>
              </div>
          </div>
        </div>

        <div class="p-2 pb-3">
          <div class="product-wap card rounded-0">
              <div class="card rounded-0">
                  <img class="card-img rounded-0 img-fluid" src="assets/img/shop_08.jpg">
                  <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                      <ul class="list-unstyled">
                          <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                          <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                          <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="card-body">
                  <a href="shop-single.html" class="h3 text-decoration-none">Red Clothing</a>
                  <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                      <li>M/L/X/XL</li>
                      <li class="pt-2">
                          <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                          <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                      </li>
                  </ul>
                  <ul class="list-unstyled d-flex justify-content-center mb-1">
                      <li>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-warning fa fa-star"></i>
                          <i class="text-muted fa fa-star"></i>
                      </li>
                  </ul>
                  <p class="text-center mb-0">$20.00</p>
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="footer_content w-100 d-flex">
        <div class="component col-lg-3">
          <h5>About Us</h5>
          <div class="description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, praesentium porro repellat magni delectus perspiciatis!</p>
          </div>
        </div>

        <div class="component col-lg-4">
          <h5>Newsletter</h5>
          <div class="contact">
            <p>Stay update with our latest</p>
            <div class="email_form d-flex">
              <input type="email" class="col-lg-9 px-3 py-1" placeholder="Enter Email">
              <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </div>

        <div class="component col-lg-3">
          <h5>Instagram Feed</h5>
          <ul class="d-flex flex-wrap img_list">
            <li class="m-1"><img src="./../../image/feed1.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed2.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed3.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed4.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed5.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed6.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed7.png" alt="#"></li>
            <li class="m-1"><img src="./../../image/feed8.png" alt="#"></li>
          </ul>
        </div>

        <div class="component col-lg-2">
          <h5>Follow Us</h5>
          <div class="social_list">
            <p>Let us be social</p>
            <ul class="d-flex align-items-center">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer_end_content w-100 text-center">
        <p>2023 Made by my team.All copyright is Accept</p>
      </div>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <!-- axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.1/axios.min.js" integrity="sha512-m9S8W3a9hhBHPFAbEIaG7J9P92dzcAWwM42VvJp5n1/M599ldK6Z2st2SfJGsX0QR4LfCVr681vyU5vW8d218w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- my script -->
  <script src="./../../../controller/index.js"></script>
</body>

</html>