<!doctype html>
<html lang="en">

<head>
  <title>Footer</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
  <!-- FontAwesome 6.2.0 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  
      <link rel="stylesheet" href="./../../scss/css/container.css">

</head>

<body>
  <footer>
    <div class="container">
      <div class="footer_content w-100 d-block">
        <div class="row">
          <div class="component col-lg-3 col-md-6 col-sm-6 my-2">
            <h5>About Us</h5>
            <div class="description">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, praesentium porro</p>
            </div>
          </div>
  
          <div class="component col-lg-4 col-md-6 col-sm-6 my-2">
            <h5>Newsletter</h5>
            <div class="contact">
              <p>Stay update with our latest</p>
              <div class="email_form d-flex">
                <input type="email" class="col-lg-9 px-3 py-1" placeholder="Enter Email">
                <button class="btn"><i class="fa-solid fa-arrow-right"></i></button>
              </div>
            </div>
          </div>
  
          <div class="component col-lg-3 col-md-6 col-sm-6 my-2">
            <h5>Instagram Feed</h5>
            <ul class="d-flex flex-wrap img_list">
              <li class="m-1"><img src="./view/image/feed1.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed2.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed3.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed4.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed5.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed6.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed7.png" alt="#"></li>
              <li class="m-1"><img src="./view/image/feed8.png" alt="#"></li>
            </ul>
          </div>
  
          <div class="component col-lg-2 col-md-6 col-sm-6 my-2">
            <h5>Follow Us</h5>
            <div class="social_list">
              <p>Let us be social</p>
              <ul class="d-flex align-items-center">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_end_content w-100 text-center">
        <p>2023 Made by my team.All copyright is Accept</p>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>