<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- FontAwesome 6.2.0 CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--Owl Carousel CDN-->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
  integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link rel="stylesheet" href="./../../scss/css/container.css">

</head>

<body>
  <main>
    <session class="feature">
        <div class="container">
          <div id="owl-demo" class="owl-carousel owl-theme position-relative">
            <div class="feature_content d-block w-100 py-3">
              <div class="title">
                <h3 class="text-center">Latest Products</h3>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quam voluptate <br> deserunt ex illo soluta officiis nostrum esse, quo non!</p>
              </div>
                <div class="feature_items row justify-content-center align-items-center">
                  <div class="item col-lg-3">
                    <img src="./../../image/product_item.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item2.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item3.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item4.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item5.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item6.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item7.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>

                  <div class="item col-lg-3">
                    <img src="./../../image/product_item8.png" alt="#">
                    <div class="product_description">
                      <h3>adidas new hammer sold for sport person</h3>
                      <div class="price d-flex align-items-center">
                        <p class="discount_price">500$</p>
                        <p class="original_price mx-4">550$</p>
                      </div>
                      <div class="btn_group">
                        <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                        <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                        <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                        <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="feature_content d-block w-100 py-3">
              <div class="title">
                <h3 class="text-center">Comming Products</h3>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quam voluptate <br> deserunt ex illo soluta officiis nostrum esse, quo non!</p>
              </div>
              <div class="feature_items row justify-content-center align-items-center">
                <div class="item col-lg-3">
                  <img src="./../../image/product_item.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item2.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item3.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item4.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item5.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item6.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item7.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>

                <div class="item col-lg-3">
                  <img src="./../../image/product_item8.png" alt="#">
                  <div class="product_description">
                    <h3>adidas new hammer sold for sport person</h3>
                    <div class="price d-flex align-items-center">
                      <p class="discount_price">500$</p>
                      <p class="original_price mx-4">550$</p>
                    </div>
                    <div class="btn_group">
                      <a href="#"><i class="fa fa-shopping-cart"></i><span>add to bag</span></a>
                      <a href="#"><i class="fa fa-heart"></i><span>wishlist</span></a>
                      <a href="#"><i class="fa fa-rotate"></i><span>compare</span></a>
                      <a href="#"><i class="fa fa-up-down-left-right"></i><span>view more</span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </session>
  </main>

  

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

    <!-- owl Carousel csript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

  <script>
    $(document).ready(function () {
      $("#owl-demo").owlCarousel({
        nav: true, // Show next and prev buttons
        navText: ["<img src='../image/prev.png'>","<img src='../image/next.png'>"],
        slideSpeed: 300,
        paginationSpeed: 400,

        items: 1,
        itemsDesktop: false,
        itemsDesktopSmall: false,
        itemsTablet: false,
        itemsMobile: false,
        dots: false,
        loop: true,
      });
    });
  </script>
</body>

</html>