.hot_deal{
    .hot_deal_content{
        .left{
            background: linear-gradient(
                rgba(0, 0, 0, 0.35), 
                rgba(0, 0, 0, 0.35)
              ), url('./.././../image/hot_deal_left_bg.png') center no-repeat;
            background-size: cover;
            position: relative;
            text-align: center;
            padding: 250px 0;

            .left_content{
                margin: 0 20px;
                h2{
                    @include textCustom($text_h2, $f_600, $color_white);
                    text-transform: capitalize;
                }

                p{
                    @include textCustom($text_email, $f_500, $color_white )
                }

                .countdown{
                    background: $color_white;
                    border-radius: 10px;
                    padding: 18px 0;
                    margin: 0 30px;
                    .time_element{
                        margin: 0;
                        h2{
                            @include textCustom($text_h3_2, $f_600, $color_black);
                            margin:0;
                        }

                        span{
                            @include textCustom($text_p_2, $f_500, $color_black)
                        }
                    }
                }

                button{
                    margin-top: 20px;
                    background: $color_white;
                    border-radius: 50px;
                    background-image: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);

                    @include textCustom($text_p_2, $f_500, $color_white);
                    line-height: 50px;
                    padding: 0 25px;
                    text-transform: uppercase;
                    position: relative;

                    transition: $transition_3;

                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        top:0;
                        left: -155px;
                        width: 100%;
                        height: 100%;
                        background: #000;
                        transform: skew(40deg);
                        opacity: 0;
                        transition: $transition_3;
                    }

                    &:hover{
                        overflow: hidden;
                        outline: none;
                        &::before{
                            left: 180px;
                            opacity: .3;
                        }
                    }
                }
            }
        }

        .right{
            .right_content{
                
                .items{
                    padding: 0 150px;
                    img{
                        @include imageCustomWidth(block, 100% );
                    }
                    .price{
                        .discount{
                            @include textCustom($text_p_2, $f_500, $color_black)
                        }
                        .original{
                            @include textCustom($text_p_2, $f_500, $color_gray );
                            text-decoration: line-through;
                        }
                    }

                    h3{
                        @include textCustom($text_h3_3, $f_500, $color_black);
                        text-transform: uppercase;
                        margin: 20px 0 0 0;
                    }

                    a{
                        display: block;
                        margin-top: 25px;
                        text-decoration: none;
                        i{
                            font-size: 15px;
                            background: $color_orange;
                            color: $color_white;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 40px;
                            border-radius: 50px
                        }
                        span{
                            @include textCustom($text_p_2, $f_500, $color_black);
                            text-transform: uppercase;
                            margin-left: 20px;
                        }
                    }
                }

                .owl-nav{
                    position: absolute;
                    top: 45%;
                    left: -80%;
                    width: 95%;
                    transform: translate(90%,0);
        
                    display: flex;
                    justify-content: space-between;
        
                    &:hover{
                        button{
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}