*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    margin: auto;
    max-width: 1280px;
}

@mixin textCustom($fontSize, $fontWeight, $fontColor){
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
}

header{
    background: transparent;
    margin: 0;

    .header_content{
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 40px 0;

        .logo{
            padding: 10px;

            p{
                margin: 0;
                font-size: 30px;
                font-weight: bold;
            }
        }

        nav{
            padding: 0;
            ul{
                margin: auto;
                li{
                    margin: 0 15px;
                    a{
                        display: block;
                        text-decoration: none;
                        @include textCustom(12px, 600 , #000 );
                        transition: all 0.5s;

                        span{
                            padding: 3px;
                        }
                    }

                    .sub_menu{
                        position: absolute;
                        display: none;
                        padding-top: 26px;
                        background: #fff;
                        transition: all 0.5s;
                        ul{
                            li{
                                margin: 0;
                                transition: all 0.3s;
                                a{
                                    display: block;
                                    text-decoration: none;
                                    @include textCustom(12px, 600 , #e3a51e );
                                    transition: all 0.3s;
                                    padding: 0 30px;
                                    line-height: 45px;

                                    &:hover{
                                        color: #fff;
                                    }
                                }

                                &:hover{
                                    background: #e3a51e;
                                }
                            }
                        }
                    }

                    .active{
                        color: #e3a51e;
                    }

                    &:hover{
                        .sub_menu{
                            display: block;
                        }

                        a{
                            color: #e3a51e;
                        }   
                    }
                } 
            }

            .col-lg-2{
                a{
                    text-decoration: none;
                    color: #000;
                    i{
                        display: inline-block;
                        font-size: 12px;
                        padding: 0 5px;
                        vertical-align: 2px;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}

footer{
    background: #222222;
    .footer_content{
        padding: 60px 0;

        .component{
            h5{
                @include textCustom(18px,600 , #fff);
                margin-bottom: 25px;
            }

            .description{
                @include textCustom(15px, 500 , #727777 )
            }

            .contact{
                p{
                    @include textCustom(15px, 500, #727777);
                    margin-bottom: 10px;
                }

                .email_form{
                    input{
                        @include textCustom(15px, 500, #727777 )
                    }
                    button{
                        background: #727777;
                        margin: 0;
                        border-radius: 0;

                        i{
                            color: #fff;
                        }
                    }
                }
            }

            .img_list{
                padding: 0;
            }

            .social_list{
                p{
                    @include textCustom(15px, 500 , #727777 )
                }

                ul{
                    padding: 0;
                    li{
                        margin-right: 20px;
                        a{
                            text-decoration: none;
                            color: #cccccc;
                            transition: all 0.5s;
                        }

                        &:hover{
                            a{
                                color: #e3a51e;
                            }
                            
                        }
                    }
                }
            }
        }
    }

    .footer_end_content{
        padding-bottom: 60px;

        p{
            @include textCustom(15px, 500, #727777 )
        }
    }
}

.feature{
    .owl-carousel{
        .feature_content{
            .title{
                h3{
                    @include textCustom(28px, bold,#000 );
                    margin: 10px 0;
                }
    
                p{
                    @include textCustom(16px, 500, #727777);
                }
            }
    
            .feature_items{
                margin: 10px 0;
    
                .item{
                    margin:20px 0;
    
                    img{
                        display: block;
                        width: 100%;
                        margin-bottom: 20px;
                    }
    
                    .product_description{
                        h3{
                            @include textCustom(16px, 600, #000);
                            text-transform: uppercase;
                        }
    
                        .price{
                            .discount_price{
                                margin: 0;
                                @include textCustom(16px, 500, #000 )
                            }
    
                            .original_price{
                                margin: 0;
                                @include textCustom(16px, 500, #727777);
                                text-decoration:line-through
                            }
                        }
    
                        .btn_group{
                            margin-top: 20px;
                            a{
                                text-decoration: none;
                                margin-right: 10px;
                                transition: all 0.5s;
                                i{
                                    width: 30px;
                                    height: 30px;
                                    background: #828cb1;
                                    color: #fff;
                                    text-align: center;
                                    line-height: 30px;
                                    border-radius: 50px;
                                }
                                span{
                                    display: none;
                                    @include textCustom(13px, 600, #000);
                                    text-transform: uppercase;
                                    margin-left: 10px;
                                }
    
                                &:hover{
                                    i{
                                        background: linear-gradient(to-right,#ffc107 50%, #fd7e14 50%);
                                    }
                                    span{
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .owl-nav{
            position: absolute;
            top:20px;
            width: 450px;
            transform: translate(90%,0);

            display: flex;
            justify-content: space-between;

            &:hover{
                button{
                    background: transparent;
                }
            }
        }
    }
    
}

.deal{
    .deal_content{
        h3{
            @include textCustom(30px,600 ,#000)
        }

        p{
            @include textCustom(15px, 500,#727777 )
        }

        .deals_list{
            margin: 50px 0;
            .items_content{
                .item{
                    margin-bottom: 30px;
                    img{
                        display: block;
                        width: 70px;
                    }
                    .description{
                        margin: 10px 15px;
                        a{
                            text-decoration: none;
                            transition: all 0.5s;
                            margin-bottom: 10px;
                            span{
                                @include textCustom(15px, 500, #000 );
                                text-transform: uppercase;
                                transition: all 0.5s;
                            }
                        }

                        .price{
                            width: 60%;
                            .discount{
                                @include textCustom(16px, 500, #000)
                            }
                            .original{
                                @include textCustom(16px, 500, #727777 );
                                text-decoration: line-through;
                            }
                        }
                    }

                    &:hover{
                        .description{
                            a{
                                span{
                                    color: #ffc107;
                                }
                            }
                        }
                    }
                }
            }

            .black_friday_content{
                width: 250px;

                a{
                    img{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}